@import '@styles/spacing.scss';
@import '@styles/colors.scss';

.stats {
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $spacing-extra-small;
}
