@import '@styles/colors.scss';
@import '@styles/spacing.scss';
@import '@styles/breakpoints.scss';

.row {
  background-color: $color-gray;
  padding: $spacing-extra-small;
  border-radius: $spacing-extra-small;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  gap: $spacing-extra-small;
  align-items: center;

  @include tablet {
    grid-template-columns: 1fr 3fr 1fr 1fr;
  }

  @include mobile {
    grid-template-columns: 1fr 3fr 1fr;
  }
}

.avarar {
  display: flex;
  align-items: center;
  gap: $spacing-extra-small;
}

.pin {
  background-color: $color-black;
  padding: $spacing-extra-small;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: $color-light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
