@import '@styles/spacing.scss';
@import '@styles/breakpoints.scss';

.container {
  display: flex;
}

.content {
  align-self: center;
}

.imageContainer {
  position: relative;

  @include mobile {
    height: 30vh;
  }
}
