@import '@styles/breakpoints.scss';

.imageContainer {
  position: relative;
  height: 560px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.image {
  object-fit: cover;
}

.timerContainer {
  justify-self: flex-end;

  @include mobile {
    justify-self: flex-start;
    width: 100%;
  }
}

.tagContainer {
  display: flex;
  align-items: center;
}
