@import '@styles/spacing.scss';
@import '@styles/breakpoints.scss';

.grid {
  display: grid;
  gap: $spacing-extra-small;
}

.col {
  &-1 {
    grid-template-columns: 1fr;
  }
  &-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.col-tablet {
  &-1 {
    @include tablet {
      grid-template-columns: 1fr;
    }
  }
  &-2 {
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &-3 {
    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &-4 {
    @include tablet {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.col-mobile {
  &-1 {
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  &-2 {
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &-3 {
    @include mobile {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &-4 {
    @include mobile {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
