@import '@styles/colors.scss';
@import '@styles/spacing.scss';

.creator {
  display: flex;
  width: fit-content;
  align-items: center;
}

.withBackground {
  background-color: $color-gray;
  border-radius: $spacing-extra-small;
  padding: $spacing-extra-small;
}
