@import '@styles/colors.scss';
@import '@styles/spacing.scss';

.card {
  background-color: $color-gray;
  border-radius: $spacing-extra-small;
  height: fit-content;
}

.bottom {
  padding: $spacing-extra-small;
}

.price {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 100%;
  height: auto;
  min-height: 310px;
}
