@import '@styles/spacing.scss';
@import '@styles/breakpoints.scss';

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: $spacing-small;

  @include mobile {
    grid-template-columns: 1fr;
    row-gap: $spacing-small;
    column-gap: $spacing-small;
  }
}
