@import '@styles/gradients.scss';
@import '@styles/spacing.scss';
@import '@styles/colors.scss';

.container {
  position: relative;
  height: 640px;
}

.overlay {
  position: absolute;
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: $spacing-md;
}

.details {
  position: relative;
  z-index: 3000;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
