@import '@styles/spacing.scss';
@import '@styles/colors.scss';
@import '@styles/breakpoints.scss';

.creatorWidget {
  position: relative;
  background-color: $color-gray;
  border-radius: $spacing-extra-small;
  padding: $spacing-extra-small;
  text-align: center;

  @include tablet {
    display: flex;
    align-items: center;
    gap: $spacing-extra-small;
    text-align: left;
  }
}

.pin {
  position: absolute;
  top: $spacing-extra-small;
  left: $spacing-extra-small;
}
